node_modules
.next
out
npm-debug.log*
yarn-*.log*
pnpm-debug.log*
.cache
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.git
.gitignore
.vscode
coverage
playwright-report
test-results
